---
import Banner from '~/components/Banner.astro';
import Layout from '../../layouts/Layout.astro';
import BlogLatest from '../../components/BlogLatest.astro';
import ContributorCard from '../../components/ContributorCard.astro';
import { getAllContributors } from '../../lib/contentful';

const contributors = await getAllContributors(); 

// SEO Values //
const pageTitle = "Contributors | Know Brainer Trivia";
const pageDescription = "Discover the dedicated team that makes Know Brainer Trivia special. From seasoned quizmasters to passionate writers, learn more about our contributors and their work.";
---

<Layout title={pageTitle} description={pageDescription}>
  <Banner />
  
  <div class="max-w-6xl mx-auto px-4 py-8 text-center">
    <h1 class="text-7xl sm:text-8xl  font-normal mb-10 text-main">Contributors</h1>

    {contributors?.length === 0 ? (
      <p class="text-gray-500">No contributors found.</p>
    ) : (
      <div class="grid gap-6 justify-center grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {contributors.map((contributor) => (
          <ContributorCard contributor={contributor} />
        ))}
      </div>
    )}
  </div>
<div class="h-12 bg-white"></div>
<BlogLatest />
<div class="h-12 bg-white"></div>
</Layout>
