---
// Imports
import Layout from '../layouts/Layout.astro';
import HomeHero from '~/components/HomeHero.astro';
import Contact from '~/components/Contact.astro';

import HomeBanner1 from '../components/HomeBanner-1.astro';
import HomeBanner2 from '../components/HomeBanner-2.astro';

import HomeInfo1 from '../components/HomeInfo-1.astro';
import HomeInfo2 from '../components/HomeInfo-2.astro';
import HomeInfo3 from '../components/HomeInfo-3.astro';
import HomeInfo4 from '../components/HomeInfo-4.astro';



// SEO Values //
const pageTitle = "Garth Capital";
const pageDescription = "Garth Capital is a family-owned investment fund that acquires and invests in small, foundational Australian businesses.";


---

<Layout title={pageTitle} description={pageDescription}>

  <!-- Hero Section (100vh, no background image) -->
  <section class="relative min-h-screen">
    <div class="relative z-10 w-full h-full">
      <HomeHero />
    </div>
  </section>.   

  <HomeBanner2 />
  <HomeInfo4 />
  <HomeBanner1 />
  <HomeInfo1 /> 
  <HomeInfo2 />




</Layout>
