---
import Layout from "../layouts/Layout.astro";
import Banner from '../components/Banner.astro';


// SEO Values //
const pageTitle = "Thank You for Contacting Us";
const pageDescription = "Your message has been received. Thank you for your interest in Garth Capital! We will be in touch shortly.";

---

<Layout title={pageTitle} description={pageDescription} noindex={true}>
  <Banner />



<section class="w-full py-4 px-4">
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="text-8xl font-normal mb-4 text-main">Thank You.</h2>

  </div>
</section>


<!-- Thnkyou messge -->
<section class="mt-0 lg:mb-12 mb-4">
  <div class="w-full lg:h-[100px] bg-stone flex items-center justify-center py-8 px-8 lg:pr-16">
    <p class="text-lg lg:text-lg text-cardsub text-center">
      Thank you for reaching out. One of our team will be in contact asap.
    </p>
  </div>
</section>

</Layout>
