---
// src/components/Breadcrumb.astro
export interface Crumb {
  name: string;
  href?: string; // if undefined = current page
}

const { items }: { items: Crumb[] } = Astro.props;
---

<nav aria-label="Breadcrumb" class="text-sm text-gray-600 mb-4 ">
  <ol class="flex flex-wrap px-4 sm:px-6 lg:px-8 items-center justify-center space-x-0">
    {items.map((item, i) => (
      <li class="flex items-center" key={i}>
        {item.href ? (
          <a href={item.href} class="hover:underline text-gray-600">{item.name}</a>
        ) : (
          <span class="text-gray-600 font-semibold">{item.name}</span>
        )}
        {i < items.length - 1 && <span class="mx-2 text-gray-400">/</span>}
      </li>
    ))}
  </ol>
</nav>
