<section class="py-2 md:py-16 bg-white">
  <div class="container mx-auto px-4 px-8 ">
    
<div class="max-w-6xl mx-auto text-center mb-8 px-4">
        
        <h2 class="mt-0 text-3xl font-extrabold tracking-tight text-main md:text-4xl mb-10">
            Our Charter
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 text-lg text-blackmain">
            
            <div>
                <p>
                    <strong class="font-semibold text-main">Garth Capital</strong> is a family-owned investment firm acquiring small, 
                    foundational Australian businesses. We differentiate ourselves through a mandate for long-term stewardship.
                </p>
            </div>

            <div>
                <p>
                    Unlike private equity firms driven by short-term resale timelines, our objective is to acquire high-quality 
                    assets to hold and develop indefinitely.
                </p>
            </div>

            <div>
                <p>
                    We focus on operational continuity—partnering with sellers to ensure 
                    the business retains its value and character during the transition to its next phase of growth.
                </p>
            </div>

        </div>
    </div>
</section>