<section class="py-4 md:py-8 bg-white">
  <div class="max-w-3xl mx-auto px-8 sm:px-6 lg:px-8 text-center">
    <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight text-main mb-4">
      Our Charter
    </h2>
    <p class="text-lg md:text-xl font-light text-blackmain leading-relaxed mb-8">
      <strong class="font-semibold text-main">Garth Capital</strong> is a family-owned investment fund that acquires and invests in small, foundational Australian businesses. 
      Through a highly hands-on approach, the short-to-medium-term focus is on preparing businesses for growth and expansion. 
      The ultimate objective is to transition a scalable organization to a highly incentivized leadership team for long-term stewardship.
    </p>
  </div>
</section>
    