<section class="py-2 md:py-16 bg-white">
  <div class="container mx-auto px-4 px-8 ">
    
    <div class="max-w-2xl mx-auto text-center mb-8">
        
        {/* New Icon Element */}
        <div class="mb-2">
            <iconify-icon 
              icon="lucide:book-open-text" 
              class="text-main text-3xl md:text-4xl"
            />
        </div>
        
        <h2 class="mt-[-0.5rem] md:mt-0 text-3xl font-extrabold tracking-tight text-main md:text-4xl mb-4">
            Our Charter
        </h2>

        <p class="mt-4 text-lg text-blackmain pb-4">
            <strong class="font-semibold text-main">Garth Capital</strong> is a family-owned investment fund that acquires and invests in small, foundational Australian businesses. 
      Through a highly hands-on approach, the short-to-medium-term focus is on preparing businesses for growth and expansion. 
      The ultimate objective is to transition a scalable organization to a highly incentivized leadership team for long-term stewardship.
        </p>
    </div>
</section>