---
// No props needed
---

<section class="bg-lgreen py-16 rounded-4xl mx-4 lg:mx-12">
  <div class="max-w-6xl mx-auto px-4">
    <h2 class="text-7xl lg:text-8xl  mb-2 text-center text-white">
      Features.
    </h2>


    <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 gap-2 lg:gap-4 justify-items-center mt-12 ">

      <!-- Card 1 -->
      <article class="bg-stone border-0 hover:shadow-lg rounded-xl overflow-hidden flex flex-col items-center text-center p-4 w-full sm:max-w-[90%] lg:max-w-full">
        <iconify-icon icon="lucide:qr-code" width="128" height="128" style="color: #008e5e;" class="mb-6" />
        <h2 class="text-2xl lg:text-4xl font-bold mb-2 text-cardtitle">SCAN & PLAY</h2>
        <p class="text-sm lg:text-2xl text-cardsub">
          Scan QR code to register and play.
        </p>
      </article>

      <!-- Card 1 -->
      <article class="bg-stone border-0 hover:shadow-lg rounded-xl overflow-hidden flex flex-col items-center text-center p-4 w-full sm:max-w-[90%] lg:max-w-full">
        <iconify-icon icon="lucide:tv" width="128" height="128" style="color: #008e5e;" class="mb-6" />
        <h2 class="text-2xl lg:text-4xl  font-bold mb-2 text-cardtitle">DISPLAY</h2>
        <p class="text-sm lg:text-2xl text-cardsub">
          All questions visible as part of slide pack.
        </p>
      </article>

            <!-- Card 1 -->
      <article class="bg-stone border-0 hover:shadow-lg rounded-xl overflow-hidden flex flex-col items-center text-center p-4 w-full sm:max-w-[90%] lg:max-w-full">
        <iconify-icon icon="lucide:images" width="128" height="128" style="color: #008e5e;" class="mb-6" />
        <h2 class="text-2xl lg:text-4xl  font-bold mb-2 text-cardtitle">MEDIA</h2>
        <p class="text-sm lg:text-2xl text-cardsub">
          Classic and visual media questions to mix things up.
        </p>
      </article>

            <!-- Card 1 -->
      <article class="bg-stone border-0 hover:shadow-lg rounded-xl overflow-hidden flex flex-col items-center text-center p-4 w-full sm:max-w-[90%] lg:max-w-full">
        <iconify-icon icon="lucide:boom-box" width="128" height="128" style="color: #008e5e;" class="mb-6" />
        <h2 class="text-2xl lg:text-4xl  font-bold mb-2 text-cardtitle">AUDIO</h2>
        <p class="text-sm lg:text-2xl text-cardsub">
          Listen up for audio questions or vibe along to the tunes.
        </p>
      </article>

            <!-- Card 1 -->
      <article class="bg-stone border-0 hover:shadow-lg rounded-xl overflow-hidden flex flex-col items-center text-center p-4 w-full sm:max-w-[90%] lg:max-w-full">
        <iconify-icon icon="lucide:chart-bar-big" width="128" height="128" style="color: #008e5e;" class="mb-6" />
        <h2 class="text-2xl lg:text-4xl  font-bold mb-2 text-cardtitle">LADDER & STATS</h2>
        <p class="text-sm lg:text-2xl text-cardsub">
          Live ladders and stats for bragging rights.
        </p>
      </article>

            <!-- Card 1 -->
      <article class="bg-stone border-0 hover:shadow-lg rounded-xl overflow-hidden flex flex-col items-center text-center p-4 w-full sm:max-w-[90%] lg:max-w-full">
        <iconify-icon icon="lucide:trophy" width="128" height="128" style="color: #008e5e;" class="mb-6" />
        <h2 class="text-2xl lg:text-4xl  font-bold mb-2 text-cardtitle">PRIZES</h2>
        <p class="text-sm lg:text-2xl text-cardsub">
          Great prizes and bonuses.
        </p>
      </article>

    </div>
  </div>
</section>
