---
// No props needed
---

<section class="bg-second text-white py-16 rounded-4xl mx-4 lg:mx-12">
  <div class="max-w-6xl mx-auto px-4">
    <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-6 justify-items-center">

      <!-- Card 1 -->
      <a
        href="/find"
        class="block rounded-2xl p-6 text-center w-full sm:max-w-[50%] lg:max-w-full no-underline text-white bg-second hover:bg-daccent transition"
      >
        <h2 class="text-8xl lg:text-8xl font-bold mb-0">Local.</h2>
         <iconify-icon icon="lucide:map-pin" width="96" height="96" class="text-white pt-4" />
        <p class="text-2xl lg:text-2xl font-light">Find a trivia to play near you.</p>
      </a>

      <!-- Card 2 -->
      <a
        href="/quiz"
        class="block rounded-2xl p-6 text-center w-full sm:max-w-[50%] lg:max-w-full no-underline text-white bg-second hover:bg-daccent transition"
      >
        <h2 class="text-8xl lg:text-8xl font-bold mb-0">Online.</h2>
         <iconify-icon icon="lucide:square-check" width="96" height="96" class="text-white pt-4" />
        <p class="text-2xl lg:text-2xl font-light">Play our Weekly Online Trivia.</p>
      </a>

    </div>
  </div>
</section>
