
<section class="bg-main py-20 md:py-24">
  <div class="container mx-auto px-8">
    
    <div class="max-w-4xl mx-auto">
        
        {/* Lucide Quote Icon in White, large size */}
        <div class="text-center mb-6">
            <iconify-icon 
              icon="lucide:quote" 
              class="text-white text-5xl md:text-6xl"
            />
        </div>

        <h2 class="text-center text-3xl md:text-4xl text-white leading-tight">
            We acquire small businesses and nuture them into strategic, scalable assets.
        </h2>
    </div>
  </div>
</section>